@tailwind base;
@tailwind components;
@tailwind utilities;


.converter {
  color: #2563eb
}

@layer base {
  .dark {
    --background: 229 22% 10%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 65%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: hsl(215 20.2% 65.1%) transparent;
}

/* For other supporting browsers */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 20px;
}

.badge-gradient {
  background: linear-gradient(90deg, rgb(248, 228, 167) 0%, rgb(252, 205, 212) 50.4868%, rgb(229, 213, 255) 100%);
}
